        body {
            color: #ccc;
            background: #1C2333;
            font-family: sans-serif;
            display:block;
            overflow: hidden;
        }

        h1,
        h2 {
            margin: 0;
            text-align: center;
        }

        a {
            color: #ccc;
        }

        section {
            padding: 20px;
        }

        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999999999;
            background-image: linear-gradient(#0D101E, #1C2333);
        }

        #circle6 {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            height: 30px;
            width: 30px;
            z-index: 10000;
            margin: -25px 0 0 -25px;
            border: 4px rgba(0, 0, 0, 0.25) solid;
            border-top: 10px #008744 solid;
            border-right: 10px #0057e7 solid;
            border-bottom: 10px #d62d20 solid;
            border-left: 10px #ffa700 solid;
            border-radius: 50%;
            -webkit-animation: spin6 1s infinite linear;
            animation: spin6 1s infinite linear;
        }

        @-webkit-keyframes spin6 {
            from {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }

        @keyframes spin6 {
            from {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }

        footer {
            width: 110%;
            position: fixed;
            bottom: -5px;
            margin-left: -10px;
            z-index: 10000050;
        }

        footer div {
            background-color: #4478e3;
            margin: -5px 0px 0px 0px;
            padding: 0px;
            color: #fff;
            text-align: center;
        }

        svg {
            width: 100%;
        }

        .wave {
            animation: wave 3s linear;
            animation-iteration-count: infinite;
            fill: #4478e3;
        }

        .drop {
            fill: transparent;
            animation: drop 5s ease infinite normal;
            stroke: #4478e3;
            stroke-width: 0.5;
            opacity: .6;
            transform: translateY(80%);
        }

        .drop1 {
            transform-origin: 20px 3px;
        }

        .drop2 {
            animation-delay: 3s;
            animation-duration: 3s;
            transform-origin: 25px 3px;
        }

        .drop3 {
            animation-delay: -2s;
            animation-duration: 3.4s;
            transform-origin: 16px 3px;
        }

        .gooeff {
            filter: url(#goo);
        }

        #wave2 {
            animation-duration: 5s;
            animation-direction: reverse;
            opacity: .6
        }

        #wave3 {
            animation-duration: 7s;
            opacity: .3;
        }

        @keyframes drop {
            0% {
                transform: translateY(80%);
                opacity: .6;
            }
            80% {
                transform: translateY(80%);
                opacity: .6;
            }
            90% {
                transform: translateY(10%);
                opacity: .6;
            }
            100% {
                transform: translateY(0%) scale(1.5);
                stroke-width: 0.2;
                opacity: 0;
            }
        }

        @keyframes wave {
            to {
                transform: translateX(-100%);
            }
        }

        @keyframes ball {
            to {
                transform: translateY(20%);
            }
        }

        #hma-top {
            display: none !important;
        }

        #af-smart-banner {
            display: none !important;
        }

        @keyframes fadeInDown {
            0% {
                opacity: 0;
                transform: translateY(-20px)
            }
            100% {
                opacity: 1;
                transform: translateY(0)
            }
        }

        @keyframes rubberBand {
            from {
                transform: scale3d(1, 1, 1)
            }
            30% {
                transform: scale3d(1.25, 0.75, 1)
            }
            40% {
                transform: scale3d(0.75, 1.25, 1)
            }
            50% {
                transform: scale3d(1.15, 0.85, 1)
            }
            65% {
                transform: scale3d(.95, 1.05, 1)
            }
            75% {
                transform: scale3d(1.05, .95, 1)
            }
            to {
                transform: scale3d(1, 1, 1)
            }
        }

        #arlinablock .header {
            margin: 0 0 15px 0;
            display: none
        }

        #arlinablock {
            background: #0D101E;
            background-image: url("https://lh3.googleusercontent.com/-Nx39v_e2_j0/YSYPJ-f9luI/AAAAAAAAky4/ENS47JA08eIWP_XR5vgfpWVzrWEmxCdtgCLcBGAsYHQ/arlina.png");
            position: fixed;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: auto;
            z-index: 9999999999;
            animation: fadeInDown 1s;
            background-repeat: no-repeat;
            background-size: 200px auto;
            background-position: center;
        }

        #arlinablock .inner {
            background: #EEEEEE;
            color: #48525C;
            display: none;
            text-align: center;
            width: 600px;
            padding: 40px;
            border-radius: 15px;
            margin: 7% auto 2% auto;
            animation: rubberBand 1s;
            font-weight: bold
        }

        #arlinablock button {
            padding: 10px 20px;
            border: 0;
            background: rgba(0, 0, 0, 0.15);
            color: #fff;
            border-radius: 7px;
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: all .3s;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
        }

        #arlinablock button:hover {
            background: rgba(0, 0, 0, 0.35);
            color: #fff;
            outline: none;
            border-radius: 7px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
        }

        #arlinablock button.active,
        #arlinablock button:hover.active {
            background: #FFF;
            color: #FFF;
            outline: none;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            border-radius: 7px
        }

        #arlinablock .fixblock {
            background: #fff;
            text-align: left;
            color: #48525C;
            padding: 20px;
            height: 300px;
            overflow: auto;
            line-height: 30px;
            border-radius: 10px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1)
        }

        #arlinablock .fixblock div {
            display: none
        }

        #arlinablock ol {
            margin-left: 20px
        }

        #arlinablock .fixblock div.active {
            display: block
        }

        @media(max-width:768px) {
            #arlinablock .inner {
                width: calc(100% - 20px);
                margin: 10px auto;
                padding: 15px
            }
        }

        .button {
            font-size: 1em;
            padding: 10px;
            color: #fff;
            border: 2px solid blue;
            border-radius: 20px/50px;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-out;
        }

        #overlay {
            position: fixed;
            /* Sit on top of the page content */
            display: none;
            /* Hidden by default */
            width: 100%;
            /* Full width (cover the whole page) */
            height: 100%;
            /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 97%;
            z-index: 99999999999999;
        }

        .popup {
            width: 60%;
            height: 300px;
            padding: 20px;
            margin: 45% auto;
            border-radius: 10px;
            position: relative;
            background: #FDFEFF;
            z-index: 999999999999999;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        }

        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .popup .content {
            max-height: 80%;
            overflow: auto;
        }